<h1>New Post Summary</h1>

  <div class="row">
    <div class="col-md-4">
      <p>Guidelines for summaries:</p>
     <ul>
       <li>Summaries should be short</li>
       <li>More instructions</li>
     </ul>
    </div>

    <div class="col-md-8">
      <%= form_for [@topic, @post, @summary] do |f| %>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :body, class: 'form-control', placeholder: "Enter summary of post:" %>
        </div>
        <div class="form-group">
          <%= f.submit "Save", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>

  </div>
