<% if @post.summary %>
  <h3>Post Summary</h3>
  <small> <%= @post.summary.body %> </small>
  <% else %>
  <p> Post summary was not found, please create one: </p> <%= link_to "Create Summary", new_topic_post_summary_path %>
<% end %>
